body {
    background-image: url('./pictures/3.jpg');
}
blockquote{
    display:block;
    background: #fff;
    background-color: rgba(0, 0, 0, 0.904); /* Red background with 50% transparency */
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;
    
    /*Font*/
    font-family: Georgia, serif;
    font-size: 22px;
    word-spacing: 5px;
    line-height: 1.2;
    color: white;
    text-align: justify;
    
    /*Borders - (Optional)*/
    border-left: 15px solid #b12900;

    border-right: 2px solid #c76c0c;
    
    Box Shadow - (Optional)
    /* -moz-box-shadow: 2px 2px 15px #b12900;
    -webkit-box-shadow: 2px 2px 15px #b12900; */
    /* box-shadow: 2px 2px 15px #b12900; */
  }
  
  blockquote::before{
    content: "\201C"; /*Unicode for Left Double Quote*/
    
    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #b12900;
    
    /*Positioning*/
    position: absolute;
    left: 10px;
    top:5px;
  }
  
  blockquote::after{
    /*Reset to make sure*/
    content: "";
  }
  
  blockquote a{
    text-decoration: none;
    background: #eee;
    cursor: pointer;
    padding: 0 3px;
    color: #c76c0c;
  }
  
  blockquote a:hover{
   color: #666;
  }
  
  blockquote em{
    font-style: italic;
  }






  /* link*/
  .stage {
    display: table-cell;
    vertical-align: middle;
  }
  
  .tabled, .middled {
    text-align: center;
    margin: 0 auto;
  }
  
  .thin { font-weight: 300; color: white; }
  .thick { font-weight: 400; }
  
  a {
    text-transform: uppercase;
    font-size: 36px;
    color: black;
    text-decoration: none;
    position: relative;
    display: block;
  }
  
  p {
    font-weight: 100;
    font-size: 80%;
    margin: 1px;
  }
  
  [class^="link-"] {
    display: inline-block;
    margin: 2em
  }
  
 
  
  /* linkfour */
  .link-4 a:before {
    content: '';
    border-bottom: solid 1px rgb(255, 0, 0);
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
  }
  
  .link-4 a:hover:before {
    border-bottom: solid thin #5CAAEF;
  }
  
  .link-4 a:before {
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
  }
  

  
  
  #Ethan {
    font-size: 13px;
    color: white;
  }

  .thick {
    color: #b12900;

  }

  span {
    background: linear-gradient(to right, #ffffff, #ffffff); 
    -webkit-background-clip: text; /* Clip the background to the text */
    color: transparent; /* Make the text color transparent */

  }
  

#kyre-quote-1 {
    background: linear-gradient(to right, #FFFFFF, #ffffff, #ffffff); 
        -webkit-background-clip: text; /* Clip the background to the text */
        color: transparent; /* Make the text color transparent */
}
#kyre-quote-2 {
    background: linear-gradient(to right, #FFFFFF, #ffffff, #FFFFFF); 
    -webkit-background-clip: text; /* Clip the background to the text */
    color: transparent; /* Make the text color transparent */
}
#kyre-quote-3 {
    background: linear-gradient(to right, #FFFFFF, #FFFFFF, #ffffff); 
    -webkit-background-clip: text; /* Clip the background to the text */
    color: transparent; /* Make the text color transparent */
}
#heat {
    background: linear-gradient(to right, #ff0000, #ffe600); /* Gradient colors */
    -webkit-background-clip: text; /* Clip the background to the text */
    color: transparent; /* Make the text color transparent */
}